/* Темная тема */
body {
   font-family: Arial, sans-serif;
   background-color: #121212;
   color: #e0e0e0;
}
.form-container {
   width: 600px;
   background-color: #1f1f1f;
   padding: 20px;
   margin: 50px auto;
   border-radius: 10px;
   border-radius: 15px;
   box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.17);
   transition: box-shadow 0.5s ease, background-color 0.5s ease; /* Плавный переход для box-shadow и фона */
   backdrop-filter: blur(10px); /* Эффект размытия фона */
   border: 1px solid rgba(255, 255, 255, 0.5); /* Полупрозрачная рамка */

}

.form-container:hover {
      backdrop-filter: blur(10px); /* Эффект размытия фона при наведении */
      box-shadow: 0px 10px 25px 15px rgba(108, 150, 223, 0.4); /* Мягкая тень для подсветки */
}

#buttonsubn {
   background-color: #6c96df; /* Основной цвет кнопки */
   background: rgba(108, 150, 223, 0.3); /* Полупрозрачный цвет при наведении */
   color: white; /* Цвет текста */
   margin-left: 180px;
   border: none; /* Убираем стандартную рамку */
   border-radius: 8px; /* Скругление углов */
   padding: 15px 30px; /* Отступы внутри кнопки */
   font-size: 20px; /* Размер шрифта */
   font-weight: 300;
   cursor: pointer; /* Указатель при наведении */
   transition: background 0.3s ease; /* Анимация изменения цвета */
   text-align: center; /* Выравнивание текста по центру */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень кнопки */
}

#buttonsubn:hover {
   background-color: #6c96df; /* Основной цвет кнопки */
}

canvas {
   z-index: -1;
   position:absolute;
   top:0;
   left:0
}

input[type="radio"], select {
   display: none; /* Скрываем стандартные элементы */
}

label {
   display: inline-block;
   padding: 10px 15px;
   margin: 5px 0;
   background: #121212;
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s ease, transform 0.3s ease;
}

input[type="radio"]:checked + label {
   background: rgba(108, 150, 223, 0.3);
   color: white;
   transform: scale(1.05); /* Увеличение при выборе */
}

label:hover {
   background: #1f2646; /* Цвет фона при наведении */
}

select {
   padding: 10px;
   border: 2px solid #4caf50;
   border-radius: 5px;
   background: white;
   transition: border 0.3s ease;
}

select:focus {
   border-color: #4caf50; /* Изменение цвета рамки при фокусе */
   outline: none; /* Убираем стандартный фокус */
}


h1 {
   text-align: center;
   text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), /* Стандартная тень */
   0 0 8px rgba(192, 192, 192, 0.5), /* Мягкое серебристое свечение */
   0 0 12px rgba(192, 192, 192, 0.4); /* Ещё более мягкое свечение */

/* Имитация хромированного текста */
background: linear-gradient(90deg, #e0e0e0, #b3b3b3, #ffffff, #b3b3b3, #e0e0e0);
background-clip: text;
-webkit-background-clip: text;
color: transparent; /* Цвет текста делаем прозрачным, чтобы был виден градиент */
font-family: 'Helvetica Neue Light', sans-serif;

}
.question {
   margin-bottom: 20px;
}
.question p {
   font-size: 16px;
   color: #e0e0e0;
}
.question input[type="radio"], .question select {
   margin-right: 10px;
   color: #e0e0e0;
   background-color: #303030;
   border: none;
   padding: 8px;
   border-radius: 4px;
}
.question select {
   width: 100%;
}
.submit-btn {
   display: block;
   width: 100%;
   background-color: #bb86fc;
   color: #121212;
   border: none;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
}
.submit-btn:hover {
   background-color: #3700b3;
}
.result {
   margin-top: 20px;
   font-size: 18px;
   color: #bb86fc;
   text-align: center;
}
